@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@400;700;900&display=swap');

@media screen and (min-width: 720px) {
  body {
    margin: 0 auto;
    max-width: 1248px;
    padding: 0px 16px;
  }

  header {
    /* border-bottom: 1px solid #D8D8D8;*/
    padding-bottom: 17px;
    padding-top: 5vh;
  }

  .header-mobile {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .nav__pages {
    display: flex;
    gap: 5vw;
    align-items: center;
  }

  .line {
    width: 1px;
    height: 17px;
    background-color: #707070;
  }

  .nav__product {
    display: flex;
    gap: 3vw;
    align-items: center;
  }

  .nav__product li a img {
    margin-top: 7px;
  }

  header li {
    list-style-type: none;

    vertical-align: middle;
  }

  header a {
    text-decoration: none;
    color: #000;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  /* end of header style's*/

  /* main of start  style's*/

  main {
    padding-top: 5%;
  }

  .main-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;

  }

  .main-blog__container {
    grid-area: 1 / 1 / 2 /2;
  }

  .main__blog {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 5%;
  }

  .main__blog-categories__nav {
    padding-top: 5%;
  }

  .search-form {
    display: flex;
  }

  [placeholder] {
    font-family: DM Sans;
    font-size: 1em;
  }

  .main-form__search {
    border-color: #D8D8D8;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70%;
    height: 2em;
    border-width: 1px;

  }

  h1 {
    color: #000;
    font-family: DM Sans;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    padding-top: 2%;
  }

  .h3-black {
    color: #000;
    font-family: DM Sans;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 10px 0;

  }

  .h4-categories {

    color: #000;

    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;

  }

  .h5-gray {
    color: #707070;
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 0px;

  }

  .categories-nav {
    padding-left: 0;
  }

  .categories-nav li,
  a {
    list-style-type: none;
    text-decoration: none;
    color: #707070;
    font-family: DM Sans;
    text-decoration: none;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

  }


  .read-more {
    color: #A18A68;
    text-decoration: none;
    font-family: DM Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;


  }

  .body-medium {
    color: #707070;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 1%;
    margin-bottom: 4%;
  }

  .main-button {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    gap: 1%;
  }

  .btn-one {
    background-color: #000;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    border-color: #D8D8D8;
    cursor: pointer;
  }

  .btn-one:active {
    background-color: #fff;
    color: #000;
  }


  .btn-two {
    background-color: #FFF;
    color: #000;
    font-family: DM Sans;
    font-size: 14px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    border-color: #D8D8D8;
    cursor: pointer;
  }

  .btn-two:active {
    background-color: #000;
    color: #FFF;
  }

  .btn-next {
    background-color: #FFF;
    color: #000;
    font-family: DM Sans;
    border-radius: 4px;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-color: #D8D8D8;
    cursor: pointer;
  }

  .btn-next:active {
    background-color: #000;
    color: #FFF;
  }

  @media screen and (max-width:1232px) {
    .main {
      padding: 2%;
    }

    .main-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3%;
    }

    .main__blog img {
      width: 22em;
      height: 14em;
    }
  }

  /* main of end  style's*/


  /* footer style's*/
  footer {
    border-top: 1px solid #d8d8d8;
    padding-top: 50px;
    padding-bottom: 5vh;
  }

  .footer-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: self-end;
    gap: 25%;
  }

  @media screen and (max-width: 1180px) {
    .footer-container {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      align-items: self-end;
      gap: 10%;
    }
  }

  @media screen and (max-width: 1000px) {
    .footer-container {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr 0.75fr;
      align-items: self-end;
      gap: 5%;
    }
  }

  .footer-nav__href {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .footer-nav__href li {
    list-style-type: none;
  }

  .footer-nav__href a {
    text-decoration: none;
    color: #707070;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .footer__input {
    border-bottom: 1px solid #000;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__input input {
    border: none;
    color: #707070;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
  }

  .button__arrow {
    background: none;
    border: none;
  }

  .button__arrow:active {
    background: #aeaeae;
  }

  .button__arrow:focus {
    border: 1px solid #707070;
  }

  .footer__privacy {
    color: #000;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .footer__privacy a {
    color: #707070;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
  }

  .footer__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .footer__checkbox {
    display: none;
  }
}